
h1.axiosExample {
    padding: 1em 0 0 0;
    line-height: .5em;
    text-align: center;

}

h2.axiosExample  {

    text-align: center;
    font-weight: lighter;
    font-size: 1em;
}

.gridAxios   {
    margin-top: 0em;
    padding: 1em;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.gridAxios>div.axiosExample  {
    min-width: 400px;
    flex: 1;
    background: #8fe4de;
    box-shadow: 10px 10px 10px rgba(63, 61, 61, 0.808);
    border-radius: 15px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: all .3s ease;
}

@media screen and (max-width: 500px) {
    .gridAxios>div {
        min-width: fit-content;
    }
}

.gridAxios>div>p.axiosExample  {
    color: rgb(0, 0, 0);
    font-weight: normal;
    text-align: justify !important;;
}

.gridAxios>div>p>span {
    color: rgb(26, 25, 25);
    font-weight: lighter;
    text-align: justify;
}


button.axiosExample   {
    display: block;
    margin: auto;
    font-size: 1.2em;
    padding: 5px;
    cursor: pointer;
}

h1~button.axiosExample   {
    margin: 1.5em auto .5em auto;
}

.gridAxios.cardAxios:hover   {
    cursor: pointer;
}

.gridAxios>.cardAxios:active  {
    transform: scale(.95);
}

.grid-btn {
    margin: 1em 0;
    display: grid;
    display: flex;
    gap: 1em;
    padding: 1em 2em 0em 2em;
    flex-wrap: wrap;
    align-items: center;
}

.grid-btn>button {
    flex: 1;
}